.nav-atas{
     background-color: 1e293b;
    border-radius: 5px;
     padding: 8px 15px;
    display: column;
    gap: 20px;
    
}
a{
    text-decoration: none;
    color: #555;
    text-decoration-line: none;
}
style{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #f2f4f8;
}
nav{
    background-color: #1e293b;
    padding: 15px;
    font-weight: bold;
}
nav a{
    color: #38bdf8;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    padding: 20px;
}
.about-card{
    background-color: white;
    padding: 40px;
    max-width: 800px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 10px 30px
    rgba(0, 0, 0, 0, 1);
    text-align: center;
}
.about-card img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 4px solid #38bdf8;
}
.about-card h1{
    margin-bottom: 10px;
    color: #1e293b;
}
.about-card p{
    color: #555;
    line-height: 1.6;
    margin-bottom: 25px;
}
.info{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;
}
.info div{
    background-color: #f1f5f9;
    padding: 15px;
    border-radius: 10px;
    width: 200px;
    margin: 10px;
}
.info h3{
    color: #1e293b;
    margin-bottom: 5px;
}
footer{
    text-align: center;
    padding: 15px;
    background-color: #1e293b;
    color: white;
    margin-top: 30px;
}
