.nav-atas{
     background-color: 1e293b;
    border-radius: 5px;
     padding: 8px 15px;
    display: column;
    gap: 20px;
    
}
.contact{
    display: flex;
    justify-content: center;
    padding: 60px 20px;
}
.contact-card{
    width: 100%;
    max-width: 500px;
    background: #fff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 10px 30px 
    rgba(0, 0, 0, 0, 15);
}
.contact-card h2{
    text-align: center;
    margin-bottom: 10px;
}
.contact-desc{
    text-align: center;
    margin-bottom: 30px;
    color: #555;
}
.contact-card form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.contact-card label{
    font-weight: bold;
}
.contact-card input,
.contact-card textarea{
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
}
.contact-card textarea{
    resize: none;
    height: 120px;
}
.contact-card button{
    margin-top: 10px;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: #4a90a2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.contact-card button:hover{
    background: #357abd;
    transform: translateY(-2px);
}
a{
    text-decoration: none;
    color: #38bdf8;
    text-decoration-line: none;
}
nav{
    background-color: #1e293b;
    padding: 15px;
    font-weight: bold;
    color: white;
}





