.card{
    background: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 10px 25px;
    range: (0 ,0 ,0 , 0, 1);
}
.container{
    display: flex;
    gap: 30px;
    padding: 40px;
}
body{
    background-color: rgb(255, 255, 255);
    background-size: 100px;
}
.about-card img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 4px solid #38bdf8;
}
.nav-atas{
     background-color: 1e293b;
    border-radius: 5px;
     padding: 8px 15px;
    display: column;
    gap: 20px;
    
}

nav{
    background-color: #1e293b;
    padding: 15px;
    font-weight: bold;
    color: white;
}
a{
    text-decoration: none;
    color: #38bdf8;
    text-decoration-line: none;
}