body{
    font-family: Arial;
   background-image: url('car.biru.jpeg');
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}

form{
    width: 350px;
    margin: 300px auto;
    background-color: rgb(0, 179, 255);
    padding: 20px;
}

legend{
    color: #000000
}

p{
    margin-bottom: 10px;
}

input[type="text"]
input[type="email"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #000000;

}

input[type="text"]{
    padding: 5px;
    background-color: #ffffff;
    color: black;
    border: none;
}